# Django
SECRET_KEY=change-me-to-a-long-random-string
DJANGO_SETTINGS_MODULE=config.settings.development

# Database
POSTGRES_DB=snippetvault
POSTGRES_USER=snippetvault
POSTGRES_PASSWORD=snippetvault
DATABASE_URL=postgresql://snippetvault:snippetvault@postgres:5432/snippetvault

# Development only
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
